<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect </property>
    <property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://mysql02.site31270.hospedagemdesites.ws/site312701
    </property>
    <property name="hibernate.connection.username">site312701</property>
    <property name="hibernate.connection.password">ab123789</property>
    
    <mapping class="dtoAtividades.Atividade"/>
    <mapping class="dtoAtividades.Formula"/>
    <mapping class="dtoDocentes.Docente"/>
    <mapping class="dtoDocentes.Classe"/>
    <mapping class="dtoDocentes.Nivel"/>
    <mapping class="dtoDocentes.Usuario"/>
  </session-factory>
</hibernate-configuration>
